<div>
    <span>Hi {{employee.employeeName}}</span>
</div>
<div>
    <span><strong>Department-{{employee.employeeRole}}</strong></span>
</div>

<table class="table-bordered">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Name of the student</th>
      <th scope="col">Candidate Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candidate of candidateList">
      <!-- <th scope="row">1</th> -->
      <td>{{candidate.candidateName}}</td>
      <td (click)='displayData(candidate.candidateName)' onmouseover="" style="cursor: pointer;">Details</td>
    </tr>
</table>