<div class="jumbotron">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Candidate Registration Form</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="candidateName">Name</label>
                    <input type="text" id="candidateName" formControlName="candidateName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.candidateName.errors }" maxlength="30" />
                    <div class="error-text" *ngIf="(f.candidateName.value.length !=0 && f.candidateName.errors)">Name
                        is required (must be characters only)</div>
                    <!-- <div *ngIf="submitted && f.candidateName.errors" class="invalid-feedback">
                        <div *ngIf="f.candidateName.errors.required">Name is required</div>
                        <div *ngIf="f.candidateName.errors.pattern">Name should contain characters only</div>
                    </div> -->
                </div>
                <div class="form-group">
                    <label for="candidateEmail">Email</label>
                    <input type="email" maxlength="50" id="candidateEmail" formControlName="candidateEmail" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.candidateEmail.errors }" />
                    <div class="error-text" *ngIf="(f.candidateEmail.value.length !=0 && f.candidateEmail.errors)">Email
                        is required (enter a valid email)</div>
                    <!-- <div *ngIf="f.candidateEmail.errors" class="invalid-feedback">
                        <div *ngIf="f.candidateEmail.errors">Email is required</div>
                        <div *ngIf="f.candidateEmail.errors.pattern">Email should be valid</div>
                    </div> -->
                </div>
                <div class="form-group">
                    <label for="candidateAddress">Address</label>
                    <input type="text" maxlength="100" id="candidateAddress" formControlName="candidateAddress" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.candidateAddress.errors }" />
                    <div class="error-text" *ngIf="(f.candidateAddress.value.length !=0 && f.candidateAddress.errors)">Address
                        is required</div>
                    <!-- <div *ngIf="submitted && f.candidateAddress.errors" class="invalid-feedback">
                        <div *ngIf="f.candidateAddress.errors.required">Address is required</div>
                        <div *ngIf="f.candidateAddress.errors.pattern">Address should be characters only</div>
                    </div> -->
                </div>
                <div class="form-group">
                    <label for="candidateHighestQualification">Highest Qualification</label>
                    <select id="candidateHighestQualification" formControlName="candidateHighestQualification" class="form-control"
                        [ngClass]="{'is-invalid': submitted && registrationForm.controls.candidateHighestQualification.errors }">
                        <option *ngFor="let qualification of qualifications" value={{qualification.qualificationID}}>{{qualification.qualification}}</option>
                    </select>

                    <!-- <div *ngIf="submitted && registrationForm.controls.candidateHighestQualification.errors" class="invalid-feedback">
                        <div *ngIf="registrationForm.controls.candidateHighestQualification.required">Qualification is
                            required</div>
                    </div> -->
                </div>
                


                <div class="form-group">
                    <label for="dob">Date Of Birth</label>

                    <input id="dob" [minDate]="minDate" [maxDate]="today" formControlName="candidateDateOfBirth" class="form-control"
                       type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                        [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.candidateDateOfBirth.errors }" />
                    <!-- <div *ngIf="submitted && registrationForm.controls.candidateDateOfBirth.errors" class="invalid-feedback">
                        <div *ngIf="registrationForm.controls.candidateDateOfBirth.errors.required">Date Of Birth is
                            required</div>
                    </div> -->

                </div>

                <div class="form-group">
                    <label for="candidateContactNo">Contact Number</label>
                    <input contactNumberOnly id="candidateContactNo" formControlName="candidateContactNo" class="form-control"
                        (keypress)="contactKeyPress($event)" [ngClass]="{ 'is-invalid': submitted && f.candidateContactNo.errors }" />
                    <div class="error-text" *ngIf="(f.candidateContactNo.value.length !=0 && f.candidateContactNo.errors)">Contact
                        no is required(must consist of 10 numbers only)</div>
                    <!-- <div *ngIf="submitted && f.candidateContactNo.errors" class="invalid-feedback">
                        <div *ngIf="f.candidateContactNo.errors.required">Phone number is required</div>
                        <div *ngIf="f.candidateContactNo.errors.pattern">Phone number should be numeric(10 chars only)</div>
                    </div> -->
                </div>
                <div class="form-group">
                    <label>Resume</label>
                    <input type="file" class="form-control" formControlName="resume" (change)="onFileSelected($event)"
                        accept=".doc, .docx,.pdf" [ngClass]="{ 'is-invalid': submitted && f.candidateResume.errors }" formenctype="multipart/form-data">
                    <!-- <div *ngIf="submitted && f.candidateHighestQualification.errors" class="invalid-feedback"> -->
                    <!-- <div *ngIf="f.candidateResume.errors.required" class="invalid-feedback">Resume is required</div> -->
                    <!-- </div> -->
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" *ngIf="registerForm.invalid" style="cursor:no-drop" [disabled]="registerForm.invalid">Register</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" *ngIf="registerForm.valid" style="cursor:pointer" [disabled]="registerForm.invalid">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>